.green-background {
  background-color: #288d26;
}

.car-img {
  width: 150px;
  position: absolute;
}

.enemy-car1-img {
  width: 150px;
  position: absolute;
  top: 300px;
}

.enemy-car2-img {
  width: 150px;
  position: absolute;
  transform: scaleX(-1);
  top: 600px;
  left: 15px;
}

.finish-line {
  width: 150px;
  position: absolute;
}

.crash {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.hidden {
  display: none;
}

.east {
  transform: rotate(0deg);
}

.west {
  transform: rotate(180deg);
}

.north {
  transform: rotate(-90deg);
}

.south {
  transform: rotate(90deg);
}
